body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
  }
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  #myBtn {
    cursor: pointer;
  }
  #myBtn:hover {
    background: #ddd;
    color: black;
  }